.resultBloc {
    display: flex;
    flex-direction: column;
    padding: 9vh 3.2rem;
    background: white;
    border-radius: 2rem;
    border:1px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.3rem 0.25rem;
    margin-top : 2vh;
    margin-bottom : 2vh;
    margin-left : 5vh;
    margin-right : 5vh;
}